
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: brown;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease infinite;
}
@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
h1{
    color: white;
}
.img-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
    border-radius: 10px 10px 0 0 ;
    overflow: hidden;
}
.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

button {
    background-color: hsla(272, 60%, 36%, 0.5);
    color: white;
    font-size: 18px;
    outline: none;
    border-radius: 3px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}
.btn-container{
    display: flex;
    justify-content: space-between;
}
audio::-webkit-media-controls-panel{
    background-color: darkcyan;
}
